$primary-color: #C500FF;
$secondary-color: #BF2679;

$diagonal-color: linear-gradient(99.05deg, #C500FF 0.07%, #BF2679 106.32%);
$linear-color: linear-gradient(99.05deg, #C500FF 0.07%, #C54B8C 106.32%);

$dark-color: #191825;
$neutral-color: #E3E4E6;
$grey-color: #959697;